<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>        
            {% include innui/webtec/lala/paginas_principales#paginas_principales_css %}
        </style>
        <script type="text/javascript">
            {% include innui/webtec/gui/menu_aplicaciones#in_js %}
            {% include innui/webtec/gui/menu_aplicaciones#in_parcial_js %}
            {% include innui/webtec/gui/menu_aplicaciones#innui_webtec_gui_menu_aplicaciones_js %}
            {% include innui/webtec/gui/elegir_archivos#innui_webtec_gui_elegir_archivos_js %}
        </script>
    </head>
    <body>
        {% include innui/webtec/gui/menu_aplicaciones#innui_webtec_gui_menu_aplicaciones %}
        <h1>{$in_}Abrir proyecto{$_in}</h1>
        {% include innui/webtec/gui/autoformularios#innui_webtec_gui_autoformularios %}
    </body>
</html>