<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>        
            {% include innui/webtec/lala/paginas_principales#paginas_principales_css %}
            {% include innui/webtec/gui/menu_contextuales#innui_webtec_gui_menu_contextuales_css %}
        </style>
        <script type="text/javascript">
            {% include innui/webtec/gui/menu_aplicaciones#in_js %}
            {% include innui/webtec/gui/menu_aplicaciones#in_parcial_js %}
            {% include innui/webtec/gui/menu_aplicaciones#innui_webtec_gui_menu_aplicaciones_js %}
            {% include innui/webtec/gui/menu_contextuales#innui_webtec_gui_menu_contextuales_js %}
            {% include innui/webtec/lala/editar_archivos#innui_webtec_lala_editar_archivos_js %}            
        </script>
    </head>
    <body>
        {% include innui/webtec/gui/menu_aplicaciones#innui_webtec_gui_menu_aplicaciones %}
        {% include innui/webtec/gui/menu_contextuales#innui_webtec_gui_menu_contextuales %}
        <h1>{$in_}Insertar semiconstantes y atributos{$_in}</h1>
        {$innui_webtec_lala_previo: }
        {% if $innui_webtec_lala_crear_semiconstantes}
        <div class="innui_webtec_gui_divs">{$in_}Semiconstantes del proyecto (en el idioma actual):{$_in}</div>
        <div class="innui_webtec_gui_divs">{$innui_webtec_lala_crear_semiconstantes}</div>
        {% endif %}
        {% if $innui_webtec_lala_crear_atributos}
        <div class="innui_webtec_gui_divs">{$in_}Atributos del proyecto:{$_in}</div>
        <div class="innui_webtec_gui_divs">{$innui_webtec_lala_crear_atributos}</div>
        {% endif %}
        {% include innui/webtec/gui/autoformularios#innui_webtec_gui_autoformularios %}
        {$innui_webtec_lala_posterior: }
    </body>
</html>