<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>        
            {% include innui/webtec/lala/paginas_principales#paginas_principales_css %}
        </style>
        <script type="text/javascript">
            {% include innui/webtec/gui/menu_aplicaciones#in_js %}
            {% include innui/webtec/gui/menu_aplicaciones#in_parcial_js %}
            {% include innui/webtec/gui/menu_aplicaciones#innui_webtec_gui_menu_aplicaciones_js %}
        </script>
    </head>
    <body> 
        {% if $innui_webtec_lala_insertar_nivel_acciones_errores %}
            {$innui_webtec_lala_insertar_nivel_acciones_errores}
        {% else %} 
            {% include innui/webtec/gui/menu_aplicaciones#innui_webtec_gui_menu_aplicaciones %}
            <h1>{$in_}Procesar insertar nivel acciones{$_in}</h1>
            ¡Insertar nivel acción con éxito!
            {$innui_webtec_lala_procesar_insertar_nivel_acciones: }
        {% endif %}
    </body>
</html>
